.App{
  margin: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App-card{
  padding: 10px 20px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00ffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
input-field{
  margin: 10px;
  width: 100vw;
  border-radius: 5px;
  border: 1px solid;
  background-color:#00ffff;
  padding: 10px 20px;
}


.btn{
  width: auto;
  margin: 10px;
  padding: 10px 20px;
  background-color: wheat;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-3px);
  transition: background-color .002s, transform 0.002s;
}